body{
  margin: 0;
}
#mon {
  -webkit-animation: moviment 2s alternate infinite linear;
  animation: moviment 2s alternate infinite linear;
}
@-webkit-keyframes moviment {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(45%, 0);
    transform: translate(45%, 0);
  }
}
@keyframes moviment {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(45%, 0);
    transform: translate(45%, 0);
  }
}
#terra {
  top: 270px;
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url("../img/IAMlogo1.png");
  background-repeat: no-repeat;
  background-size: 50% 100px;
  z-index: -1;
}
#pilota {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  -webkit-animation: ballmove 1s alternate infinite ease-in;
  animation: ballmove 1s alternate infinite ease-in;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  background: radial-gradient(
    ellipse at 25% 20%,
    #FFEAED 0%,
    pink 10%,
    #D05E71 100%
  );
  z-index: 1;
}

@-webkit-keyframes ballmove {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9,1);
    transform: translate(0, 0) scale(0.9,1);
  }
  10% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  90% {
    -webkit-transform: translate(0, 200px) scale(1,0.9);
    transform: translate(0, 200px) scale(1,0.9);
     
  }
  100% {
    -webkit-transform: translate(0, 220px)  scale(1,0.7);
    transform: translate(0, 220px)  scale(1,0.7);
  }
}

@keyframes ballmove {
  0% {
    -webkit-transform: translate(0, 0) scale(0.9,1);
    transform: translate(0, 0) scale(0.9,1);
  }
  10% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }
  90% {
    -webkit-transform: translate(0, 200px) scale(1,0.9);
    transform: translate(0, 200px) scale(1,0.9);
     
  }
  100% {
    -webkit-transform: translate(0, 220px)  scale(1,0.7);
    transform: translate(0, 220px)  scale(1,0.7);
  }
}

#ombra {
  background-color: #2a2a2a;
  width: 100px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  top: 175px;
  z-index: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-animation: expand 1s alternate infinite ease-in;
  animation: expand 1s alternate infinite ease-in;
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0.75;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0.75;
  }
}
